# Ignore files for pnpm
pnpm-lock.yaml
package-lock.json

# Ignore files for SvelteKit
.svelte-kit/

# Ignore for build result
build/
src/app.html
static/*.html
static/**/*.html

# Ignore for GitHub Action (due to space indent)
.github/workflows/*.yml

# etc
static/data.json

# README
README.md